<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>POC mobile</title>

    <link rel="stylesheet" type="text/css" href="../dist/css/style.css">
</head>
<body>
<main>
    <section class="card">
        <div class="col-xs-6 col-md-12">
            <img class="img-responsive" src="http://placehold.it/225x400"
                 srcset="http://placehold.it/1600x900 1600w, http://placehold.it/225x400 1x, http://placehold.it/450x800 2x, http://placehold.it/675x1200 3x"
                 sizes="(max-width: 992px) 50vw, 100vw" alt="image">
        </div>
        <div class="col-xs-6 col-md-12">
            <h3>Lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh massa, eleifend quis mauris vitae, laoreet ultricies enim. Duis interdum metus vitae commodo gravida. Phasellus pellentesque lectus dolor, vitae pulvinar ipsum venenatis sollicitudin.</p>
        </div>
    </section>
    <section class="card">
        <div class="col-xs-6 col-md-12">
            <picture>

                <source media="(max-width: 991px)" srcset="http://placehold.it/225x400 1x">

                <source media="(min-width: 992px)" srcset="http://placehold.it/1920x1080 1x">

                <img src="http://placehold.it/225x400" class="img-responsive" alt="image">

            </picture>
        </div>
        <div class="col-xs-6 col-md-12">
            <h3>Lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh massa, eleifend quis mauris vitae, laoreet ultricies enim. Duis interdum metus vitae commodo gravida. Phasellus pellentesque lectus dolor, vitae pulvinar ipsum venenatis sollicitudin.</p>
        </div>
    </section>
</main>
</body>
</html>